@import '@/styles/common.scss';

.forgetpass {
  .forgetpass-content {
    // height: 100vh;
    background: $color_white;
    padding: 20px 15px 20px;
    .icon-fanhuijiantou {
      font-size: 24px;
      font-weight: bold;
    }
    .forgetpass-text {
      h5 {
        font-size: 30px;
        color: #333;
        font-weight: 500;
        margin-bottom: 0;
      }
      p {
        color: $color_tab;
        margin-bottom: 0;
        font-weight: $fontWeight_board;
        margin-bottom: 15px;
        font-size: 12px;
      }
    }
    .forgetpass-form {
      .ant-form-item {
        font-weight: $fontWeight_board;
        .ant-form-item-label {
          padding: 0;
          >label {
            font-size: $font_small;
          }
        }
        .ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
          content: "";
        }
        .ant-btn-primary {
          background: $color_normal;
          border-color: $color_normal;
          height: 48px;
          font-size: $fontSize_large;
          color: $color_title;
          transition: $transAll_linear;
          margin: 30px 0;
        }
        .ant-btn-primary[disabled] {
          color: rgba(0, 0, 0, 0.25);
          background: #f5f5f5;
          border-color: #d9d9d9;
          text-shadow: none;
          box-shadow: none;
        }
        // .disabled {
        //   background: $color_disable;
        //   color: $color_white;
        //   border-color: $color_disable;
        // }
        .ant-form-item:last-child {
          margin-bottom: 5px;
        }
        .formTips-check {
          margin-right: 5px;
          color: $color_tab;
          font-size: $fontSize_small;
          >span {
            >a {
              color: $color_normal;
            }
          }
        }
      }
      input {
        height: 45px;
      }
      .ant-input-affix-wrapper {
        padding: 0 11px;
      }

      .ant-input-affix-wrapper {
        padding: 0 11px;
      }
      .forgetpass-sendCode {
        .ant-form-item-control-input-content {
          position: relative;
          button {
            position: absolute;
            top: 40px;
            font-size: $font_small;
            right: 0;
            color: $color_normal;
            font-weight: $fontWeight_board;
            .code-color {
              color: #181E24;
              .code-red {
                color: #D14B4F;
              }
            }
          }
          .ant-btn-text:hover {
            background: none;
          }
        }
        .ant-form-item {
          margin: 0;
        }
      }
    }
  }
}