.inviteTab {
  height: 50px;
  margin: 0 10px;
  border-bottom: 1px solid #CCCCCC;
  ul {
    li {
      display: inline-block;
      line-height: 50px;
      margin: 0 10px;
      color: #BBB;
      transition: color 0.3s linear;
    }
    .active-tab {
      position: relative;
      color: #000;
    }
    .active-tab:after {
      content: '';
      width: 14px;
      height: 4px;
      background: #000;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -7px;
    }
    
  }
}