// @import '../../styles/common.scss';
.kline {
  // transform: scale(0.5);
  display: flow-root;
  width: 100%;
  height: 100%;
  // background: $color_trade_bg_card;
  .kline_box {
    background: transparent;
    position: initial;
    height: 100%;
  }
}

.pane-legend {
  display: none;
}
