.inviteTable {
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  .inviteTable-tr {
    display: flex;
    font-size: 12px;
    color: #010101;
    line-height: 30px;
    span {
      flex: 1;
      text-align: center;
      display: inline-block;
    }
    span:first-child {
      text-align: left;
    }
    span:last-child {
      text-align: right;
    }
  }
  .inviteTable-header {
    font-size: 12px;
    font-weight: bold;
    color: #BBBBBB;
    line-height: 30px;
  }
  .inviteTable-noData {
    height: 200px;
    padding-top: 90px;
    text-align: center;
    vertical-align: middle;
    color: #bbb;
    i { font-size: 48px; }
    p { font-size: 12px; }
  }
}