@import '@/styles/common.scss';
.register {
  width: 100%;
  .register-form {
    // display: flex;
    padding: 20px 15px 20px;
    background: $color_white;
    border-radius: $borderRadius_large;

    .icon-fanhuijiantou {
      font-size: 24px;
      font-weight: bold;
    }
    .right {
      // flex: 1;
      h5 {
        font-size: 30px;
        color: #333;
        font-weight: 500;
        margin-bottom: 0;
      }
      p {
        color: $color_tab;
        margin-bottom: 0;
        font-weight: $fontWeight_board;
        margin-bottom: 15px;
        font-size: 12px;
      }
      .register-tab {
        li {
          display: inline-block;
          cursor: pointer;
          margin-right: 20px;
          position: relative;
          line-height: 34px;
          color: $color_tab;
          transition: $transColor_linear;
          font-weight: $fontWeight_board;
        }
        .active {
          color: $color_title;
        }
        .active:after {
          position: absolute;
          content: '';
          width: 18px;
          height: 4px;
          border-radius: $borderRadius_small;
          background: $color_normal;
          bottom: 0;
          left: 50%;
          margin-left: -9px;
        }
      }
      .form {
        input {
          height: 48px;
        }
        .ant-select-selector {
          height: 48px;
          .ant-select-selection-placeholder, .ant-select-selection-item {
            line-height: 48px !important;
          }
        }
        .ant-btn-primary {
          background: $color_normal;
          border-color: $color_normal;
          height: 48px;
          font-size: $fontSize_large;
          color: $color_title;
          transition: $transAll_linear;
        }
        .ant-btn-primary[disabled] {
          color: rgba(0, 0, 0, 0.25);
          background: #f5f5f5;
          border-color: #d9d9d9;
          text-shadow: none;
          box-shadow: none;
        }
        // .disabled {
        //   background: $color_disable;
        //   color: $color_white;
        //   border-color: $color_disable;
        // }
        .ant-form-item:last-child {
          margin-bottom: 5px;
        }
        .formTips-check {
          margin-right: 5px;
          color: $color_tab;
          font-size: $fontSize_small;
          >span {
            >a {
              color: $color_normal;
            }
          }
        }
        .ant-form-item {
          margin-bottom: 15px;
          .ant-form-item-label{
            padding: 0;
            >label {
              font-size: 12px;
              font-weight: 500;
              color: #8E8E8E;
            }

            .ant-form-item-required {
              font-size: 12px;
              font-weight: 500;
              color: #8E8E8E;
            }

            .ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
              content: "";
            }
          }
          .ant-form-item-control {

            .ant-form-item-control-input-content {
              .ant-input-affix-wrapper {
                padding: 0 11px;
              }
            }
            .ant-form-item-explain-error {
              font-size: 12px;
              font-weight: 500;
              color: #F6465D;
            }
          }
        }
        .sendCode {
          .ant-form-item-control-input-content {
            position: relative;
            .ant-form-item {
              margin-bottom: 0;
            }
            button {
              position: absolute;
              top: 30px;
              right: 0;
              line-height: 40px;
              height: 48px;
              color: $color_normal;
              font-weight: $fontWeight_board;
              .code-color {
                color: #181E24;
                .code-red {
                  color: #D14B4F;
                }
              }
            }
            .disabled {
              color: $color_disable;
              background: transparent;
              border-color: transparent;
            }
          }
        }
      }
      
      .formTips-login {
        font-size: $fontSize_middle;
        text-align: center;
        color: $color_tab;
        span {
          color: $color_normal;
          cursor: pointer;
        }
      }
    }
  }
}