@import '@/styles/common.scss';

.commonModal-modal {
  .ant-modal-content {

    .ant-modal-close {
      font-size: 20px;
      color: #363D48;
      font-weight: 500;
    }
    .ant-modal-header {
      border-bottom: none;
      .ant-modal-title {
        text-align: center;
        font-size: 20px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #363D48;
      }
    }

    .ant-modal-body {
      p {
        font-size: 15px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        margin-bottom: 0;
      }

      .assetPassword-container {
        .assetPassword {
          display: block;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #000000;
          margin-bottom: 10px;
        }

        .ant-input-affix-wrapper {
          height: 44px;
        }

        .errorInfo {
          font-size: 12px;
          color: #ff4d4f;
        }

        .forgetPassword {
          display: block;
          text-align: right;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          margin-top: 10px;
          color: #7B818A;
        }
      }
    }

    .ant-modal-footer {
      border-top: none;

      .ant-btn {
        width: 100%;
        height: 44px;
        background: #F3C219;
        border-color: #F3C219;

        font-size: 17px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
      }
    }
  }
}