@import '../../styles/common.scss';

.transfer {
  transition: all .3s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  p {
    margin-bottom: 0;
  }

  .TransferPop {
    transition: all .3s ease 0s;
    z-index: 2;
    position: relative;
    background: $color_white;
    border-radius: 4px;
    // padding: 20px 15px 15px 15px;
    max-width: calc(100 vw - 16 px);
    margin: 8px;

    &.contactTransferPop {
      background-color: #1E2126;
    }

    .icon-chahao1 {
      color: $text_light;
      font-size: $fontSize_large;
      position: absolute;
      top: 16px;
      right: 16px;
      line-height: 16px;
      cursor: pointer;
    }

    .transfer-btn-footer {
      // position: absolute;
      // bottom: 20px;
      padding: 0 15px 15px;
      width: 100%;

      // text-align: center;
      .btnPrimary {
        width: 140px;
        height: 36px;
        border-radius: 0;
        // font-size: #A3ADBD;
        letter-spacing: 0;
        text-align: center;
        // background-color: #E4EAF5;
        outline: none;
        border: 2px solid transparent;
      }

      .btn-transfer {
        width: 140px;
        height: 36px;
        border-radius: 0;
        // font-size: #A3ADBD;
        letter-spacing: 0;
        text-align: center;
        // background-color: #E4EAF5;
        outline: none;
        border: 2px solid transparent;
        color: $color_white;
        background-color: $all_blue;
      }

      .btnPrimary-contact {
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 3px;
        // font-size: #A3ADBD;
        letter-spacing: 0;
        text-align: center;
        // background-color: #E4EAF5;
        outline: none;
        border: 2px solid transparent;
      }

      .btnStyle-contact {
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 3px;
        // font-size: #A3ADBD;
        letter-spacing: 0;
        text-align: center;
        // background-color: #E4EAF5;
        outline: none;
        border: 2px solid transparent;
        color: $color_white;
        background-color: $color_normal_line;
      }
    }

    .trade-box-value {
      h5 {
        font-size: $fontSize_large;
        color: #C5CDE1;
      }

      .trade-box-content {
        margin: 20px auto;
        text-align: center;
        font-size: $fontSize_middle;
        color: $trade_dark;
      }

      a {
        width: 140px;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        position: absolute;
        right: 30px;
        bottom: 30px;
        background: $all_blue;
        border-radius: 100px;
        text-align: center;
        color: $color_white;
        font-size: $fontSize_large;
      }
    }
  }
}



// 划转弹窗
.transferModel-box {
  font-size: $fontSize_middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-top: 20px;

  .transfer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid $color_input_line;

    .transfer-title {
      display: inline-block;
      font-size: $fontSize_large;
    }

    .icon-cancel01 {
      display: inline-block;
      font-size: $fontSize_xxxxLarge;
    }
  }

  .flow {
    padding: 5px 15px 10px;

    .transfer-group {
      border: 1px solid $color_input_line;
      width: 100%;
      line-height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .flow-inp-num {
        width: 65%;

        input {
          border-color: transparent !important;
        }

        input:focus,
        input:hover {
          box-shadow: none;
          border: none !important;
          // border-color: transparent;
        }
      }

      .addon {
        margin-right: 5px;
        color: $color_tab;
        padding: 0 5px;

        .addonCoins {
          color: $color_tab;
        }

        .addonAll {
          color: $color_normal_line;
          cursor: pointer;
        }
      }
    }

    .transfer-direction,
    .transfer-inp {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;

      .transfer-text {
        line-height: 40px;
        font-size: $fontSize_large;

        i {
          width: 15%;
          display: inline-block;
        }
      }

      .transfer-change {
        line-height: 40px;

        p {
          display: inline-block;
          font-size: $fontSize_large;
        }

        p:first-child {
          width: 15%;
          text-align: center;

          img {
            width: 30px;
            height: 30px;
            text-align: center;
            margin: 0 auto;
          }

          .icon-huazhuan {
            margin-left: 0px;
          }
        }
      }

      .transfer-from {
        line-height: 50px;

        .left_raduis,
        .right_raduis {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #0A9D74;
          display: inline-block;
          margin-right: 6px;
        }


        .transfer-icon {
          display: inline-block;
          width: 15%;
          text-align: center;
          height: 50px;

          .left_raduis {
            background-color: #0A9D74;
          }

          .right_raduis {
            background-color: $color_normal;
          }
        }
      }

      .iconfont {
        margin: 0 20px;
        cursor: pointer;
        color: $color_normal_line;
        font-size: $fontSize_xxxxLarge;
      }

      .icon-huazhuan {
        font-size: $fontSize_large;
        border: 2px solid $color_normal_line;
        border-radius: 50%;
        margin: 0;
        padding: 5px 4px;
      }

      .transferRoate0 {
        transition: all .15s;
        transform: rotate(180deg);
      }

      .transferRoate180 {
        transition: all .15s;
        transform: rotate(-180deg);
      }

    }

    .label {
      // font-weight: bold;
      margin-bottom: 5px;
      display: block;
      color: #333;
    }

    .convertible-num {
      color: $color_tab;
      font-size: $fontSize_small;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .flowInp {
      height: 40px;
      line-height: 40px;
      width: 85%;
      display: inline-block;
      background-color: $color_white;
      color: $color_assetsTit_bg;
      border-color: $color_input_line;

      .ant-select-selection {
        border-radius: 0;
        padding: 4px;
      }

      border-radius: 0;
    }

    .flow-inp-select {

      .ant-select-selector {
        line-height: 40px !important;
        height: 40px !important;

        .ant-select-selection-item {
          line-height: 40px !important;
        }
      }

      .ant-select-selection {
        border-radius: 0;
        background-color: $color_white;
        color: $color_assetsTit_bg;
        border-color: $color_input_line;
        height: 40px;
        line-height: 40px;

        &:hover {
          border: 1px solid $color_normal_line;
        }

        .ant-select-arrow {
          color: $color_input_line;
        }

        .ant-select-selection__rendered {
          line-height: 40px;
        }
      }
    }

    .flow-inp,
    .flow-inp-num {
      height: 40px;
      font-size: $fontSize_middle;
      line-height: 40px;
      background-color: $color_white;
      color: $color_assetsTit_bg;
      border-color: $color_input_line;
      border-radius: 0;

      &:hover {
        border: 1px solid $color_normal_line;
      }
    }

    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active {
      box-shadow: none;
    }

    .ant-input:focus {
      box-shadow: none;
    }
  }
}

.transferBox-value {
  text-align: left;

  h5 {
    font-size: $fontSize_large;
    color: $dark_theme;
    letter-spacing: 0;
  }

  .transferBox-con {
    padding-top: 37px;

    input {
      color: #1b1c1f;
      font-size: $fontSize_xLarge;
      width: 100%;
      border-bottom: 1px solid $input_line;
      line-height: 30px;
      margin-bottom: 6px;
      height: 30px;
      transition: all 0.3s ease-in-out 0s;

      &:focus {
        border-bottom-color: $dark_theme;
      }
    }

    input[type=password] {
      letter-spacing: 5px;
    }

    input::-webkit-input-placeholder {
      /* WebKit browsers */
      font-size: $font_normal;
      color: #c3c6ce;
      letter-spacing: 0px;
    }

    input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-size: $font_normal;
      color: #c3c6ce;
      letter-spacing: 0px;
    }

    input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-size: $font_normal;
      color: #c3c6ce;
      letter-spacing: 0px;
    }

    input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      font-size: $font_normal;
      color: #c3c6ce;
      letter-spacing: 0px;
    }

    p {
      float: right;
      font-size: $fontSize_small;
      color: #f84960;
      letter-spacing: 0;
    }

    .transferBox-forget {
      float: left;
      font-size: $fontSize_middle;
      color: $all_blue;
      letter-spacing: 0;
      cursor: pointer;

      a {
        color: $all_blue;

        &:link {
          color: $all_blue;
        }

        &:visited {
          color: $all_blue;
        }

        &:focus {
          text-decoration: none;
        }
      }
    }

  }
}