@import '@/styles/common.scss';

.handlePerson {
    background: $color_assetsTit_bg;
    color: $color_white_bg;
    >div span {
        margin: 0 0 10px 20px;
        display: inline-block;
    }
    .handlePerson-cancel {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .handlePerson-top {
        padding-bottom: 10px;
        .handlePerson-uid {
            line-height: 15px;
            border: 1px solid $color_white_bg;
            border-radius: 50px;
            font-size: $fontSize_small;
            opacity: .6;
            padding: 0 7px;
        }
    }
}