
@import '@/styles/common.scss';
.followNews {
  width: 100%;

  &-container {
    padding: 15px;
    min-height: calc(100vh - 64px);

    .followNews-title {
      display: flex;
      align-items: center;

      .icon-fanhuijiantou {
        font-size: 20px;
        font-weight: bold;
        margin-right: 40px;
      }

      h2 {
        flex: 1;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: #333;
        margin-bottom: 0;
      }

      >span {
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        padding: 6px 10px;
        border-radius: 50px;
        background: #EFEFF2;
      }
    }
    .item {
      .noData {
        margin-top: 20vh;
        text-align: center;
        img {
          width: 120px;
        }
        p {
          font-size: $fontSize_small;
          color: #aeaeae;
        }
      }
      .item-list {
        padding: 20px 10px 0 10px;
        .title-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          >h4 {
            margin-bottom: 0;
            font-size: 15px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #BEC3CC;
          }
          .time {
            font-size: 11px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #BEC3CC;
          }
        }

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 16px 0;
          p {
            margin-bottom: 0;
            font-size: 12px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #7B818A;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          i {
            color: #BEC3CC;
            font-size: 12px;
          }
        }

        .underline {
          width: 100%;
          height: 1px;
          background: #E3E3E6;
        }
      }
      .active {
        .title-box {
          h4 {
            color: $color_title;
            position: relative;
          }
          h4:after {
            content: '';
            position: absolute;
            background: $color_red;
            width: 8px;
            height: 8px;
            border-radius: $borderRadius_xxLarge;
            left: -13px;
            top: 50%;
            margin-top: -4px;
          }
        }
      }
    }
  }
}