.homeCode {
  width: 100%;
  background: #FAFAFA;

  &-container {
    padding: 20px 10px 20px 10px;
    
    h1 {
      font-size: 21px;
      font-weight: 500;
      color: #181E24;
    }

    .homeCode-title {
      display: flex;
      flex-direction: column;
      color: #000;
      font-weight: 400;
    }

    .homeCode-img {
      width: 100%;
      margin-top: 20px;
      text-align: center;
      img {
        width: 49.6%;
        height: auto;
      }
    }
    
    .homeCode-hoverBtn {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;

      .hoverbtn {
        width: 130px;
        height: 42px;

        font-weight: 400px;

        display: flex;
        justify-content: center;
        align-items: center;
        background: #E9E9E9;
        border-radius: 5px;

        span {
          padding-left: 15px;
        }
      }
    }

    .homeCode-code {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .code {
        width: 130px;
        height: 130px;
        padding: 5px;
        border: 1px solid #F6CC2E;;
        border-radius: 5px;
        margin-bottom: 15px;

        span {
          font-weight: 400;
          color: #333333;
          padding-bottom: 15px;
        }
      }
    }
  }
}