.InviteTitle {
  line-height: 40px;
  h5 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-right: 5px;
  }
  i {
    color: #bbb;
    font-size: 12px;
  }
}