@import '../../../styles/common.scss';

.followInfo {

  p {
    margin-bottom: 0;
  }

  .followInfo-table {
    padding-bottom: 50px;


    .earnings-title {
      color: #333;
      font-weight: 600;
      padding: 10px 15px;
    }

    .earningsDetails {
      padding-bottom: 20px !important;
    }
  }

  .followInfo-header {
    background-color: $color_white;
    display: flex;
    line-height: 50px;
    padding: 0 25px;

    i {
      display: inline-block;
      width: 40px;
      height: 50px;
      line-height: 50px;
      color: #333;
      font-size: 25px;
      font-weight: 500;
    }

    span {
      display: inline-block;
      height: 50px;
      text-align: center;
      line-height: 50px;
      flex: 1;
      color: #333;
      font-weight: 600;
      font-size: $fontSize_xLarge;
    }
  }

  .followInfo-trader {
    background-color: $color_white;
    padding: 0 15px;

    // img {
    //   width: 60px;
    //   height: 60px;
    //   border-radius: 30px;
    //   margin: 15px 0;
    //   line-height: 90px;
    // }

    p {
      margin-left: 15px;
      color: #333;
      font-size: $fontSize_xLarge;
      display: inline-block;
      line-height: 90px;
    }

    // p {
    //   display: inline-block;
    //   width: 60px;
    //   margin: auto 0;
    //   height: 60px;
    //   border-radius: 30px;
    //   line-height: 60px;
    //   background-color: #ccc;
    //   vertical-align: middle;
    // }
  }

  .tableBase {

    .table-box {

      .table-title {
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          // flex: 1;
          color: #333;
          font-weight: 600;
          padding: 10px 0;
          display: inline-block;
        }

        p.title-text {
          display: inline-block;

          text-align: right;

          span {
            color: $color_assetsTable_tit;
            font-size: $fontSize_small;

            i {
              margin: 0 3px;
              color: #333;
              font-size: $fontSize_middle;
              font-weight: 500;
            }
          }

          span:first-child {
            margin-right: 20px;
          }
        }
      }

      .table-main {
        background-color: $color_white;
        padding: 0 15px;

        .bear {
          color: $color_white;
          font-size: 10px;
          background: #D14B4F;
          border-radius: 4px;
          width: 55px;
          text-align: center;
          display: inline-block;
        }

        .long {
          width: 55px;
          text-align: center;
          color: $color_white;
          font-size: 10px;
          background: #14A899;
          border-radius: 4px;
          display: inline-block;
        }

        .table-header {
          display: flex;
          // flex-wrap: nowrap;
          width: 100%;
          flex-direction: row;

          span {
            display: inline-block;
            color: $color_assetsTable_tit;
            font-size: $fontSize_small;
            padding: 5px 0;
            flex: 1;
            font-weight: 500;
          }

          span:last-child {
            text-align: right;
          }
        }

        .table-tbody {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          flex-direction: row;

          p {
            flex: 1;
            display: inline-block;
            color: $color_community_content;
            font-size: $fontSize_middle;
            font-weight: 500;
            padding: 5px 0;
          }

          p:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

.followInfo-btn {
  background-color: $color_white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;

  p {
    margin-bottom: 0;
  }

  div {
    padding: 7px 15px;
    display: flex;

    p {
      border-radius: 4px;
      padding: 7px 0;
      font-size: $fontSize_middle;
      flex: 1;
      text-align: center;
      display: inline-block;
      border: 1px solid $color_normal_line;
      color: $color_normal_line;
      cursor: pointer;
    }

    p:last-child {
      border: none;
      background-color: $color_normal_line;
      color: #333;
      // margin-left: 10px;
    }
  }
}