.register {
  min-height: 100vh;
  position: relative;
  .register-top {
    img {
      width: 100%;
      outline-width:0px;  
      vertical-align:top;  
    }
  }
  .registerCard {
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 25vh;
    .register-card {
      margin: 0 10px 10px 10px;
    }
    .register-form {
      margin: 0 10px 10px 10px;
      border-radius: 10px;
      overflow: hidden;
      background: #fff;
      padding-bottom: 10px;
      &-tab {
        display: flex;
        margin-bottom: 20px;
        transition: background 0.2s linear;
        div {
          transition: background 0.2s linear;
          padding: 7px 0 0 0;
          flex: 1;
          min-width: 50%;
          text-align: center;
          p {
            transition: color 0.2s linear;
            line-height: 36px;
            font-size: 14px;
            font-weight: bold;
            color: #bcbec4;
            position: relative;
          }
          p:after {
            content: '';
            height: 2px;
            width: 40px;
            border-radius: 2px;
            left: 50%;
            margin-left: -20px;
            bottom: 0;
            background: transparent;
            position: absolute;
            transition: background 0.2s linear;
          }
        }
        .active {
          p {
            color: #4488EB;
            position: relative;
          }
          p:after {
            // content: '';
            // height: 2px;
            // width: 40px;
            // border-radius: 2px;
            // left: 50%;
            // margin-left: -20px;
            // bottom: 0;
            // background: transparent;
            // position: absolute;
            background: #4488EB;
          }
        }
      }
      .phone {
        background: linear-gradient(60deg, white 0%, white 50%, #eef0f4 50%, #eef0f4 100%);
      }
      .email {
        background: linear-gradient(-60deg, white 0%, white 50%, #eef0f4 50%, #eef0f4 100%);
      }
      .submit-btn {
        margin: 15px 15px;
        background: #4488EB;
      }
      input::-moz-placeholder {
        font-size: 14px;
      }
      input:-ms-input-placeholder {
        font-size: 14px;
      }
      input::-webkit-input-placeholder {
        font-size: 14px;
      }
    }
    .blue {
      color: #4488EB;
    }
    .am-checkbox-wrapper, .am-checkbox-agree-label {
      color: #bcbec4 !important;
      font-size: 14px !important;
      line-height: 26px !important;
    }
  }
  .registerSuccess {
    padding-top: 100px;
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 3vh;
    .registerSuc-card {
      margin: 0 10px 10px 10px;
      background: #e7eff8;
      padding: 16px;
      border-radius: 10px;
      &-top {
        position: relative;
        .img {
          width: 180px;
          height: 180px;
          position: absolute;
          top: 0;
          transform: translateY(-190px);
          left: 50%;
          margin-left: -90px;
        }

        h4 {
          font-size: 24px;
          color: #131f30;
          text-align: center;
          margin: 89px 0 32px 0;
        }
      }
      .btns {
        display: flex;
        margin-top: 32px;
        .downBtn {
          flex: 1;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          i {
            font-size: 20px;
            color: #fff;
            margin-right: 5px;
          }
        }
        .black {
          margin-right: 16px;
          background: #000;
        }
        .green {
          background: #33bf82;
        }
      }
    }
  }
}


