@import '../../styles/common.scss';
.header {
  height: 64px;
  width: 100%;
  // min-width: 1200px;
  display: flex;
  background: $color_black;
  &-left {
    flex: 1;
    display: flex;
    .logo {
      width: 100px;
      height: 100%;
      cursor: pointer;
      background-image: url('../../assets/img/common/logo.png');
      background-position: center;
      background-size: 80%;
      background-repeat: no-repeat;
    }
    .menu {
      margin-bottom: 0;
      display: flex;
      line-height: 64px;
      li {
        color: $color_white;
        padding: 0 5px;
        cursor: pointer;
        user-select: none;
        font-weight: 500;
      }
    }
  }
  &-right {
    margin-left: auto;
    display: flex;
    .menu {
      margin-bottom: 0;
      display: flex;
      line-height: 24px;
      padding: 20px 5px;
      li {
        color: $color_white;
        padding: 0 5px;
        cursor: pointer;
        user-select: none;
        font-weight: 500;
        border-radius: $borderRadius_small;
        transition: $transAll_linear;
      }
      .active {
        background: $color_normal;
        color: $color_black;
      }
      .lang {
        text-align: right;
        min-width: 120px;
        i {
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }
}