@import '@/styles/common.scss';

.personal {
  .personal-content {
    font-size: $font_small;
    font-weight: $fontWeight_board;
    .personal-list {
      display: flex;
      align-items: center;
      padding: 23px 0 20px 20px;
      img {
        width: 26px;
        margin: 0 5px 0 0;
      }
      .personal-text {
        h3 {
          margin: 0;
        }
        .personal-introduce {
          color: $color_community_personal;
        }
      }
    }
    .personal-remind {
      height: 24px;
      line-height: 24px;
      background: $color_normal;
      text-align: center;
      margin: 0 0 15px;
    }
    .personal-form {
      padding: 0 20px;
      .ant-form-item-label {
        padding: 0;
        >label {
          font-size: $font_small;
        }
      }
      .ant-select-selector {
        color: $color_black;
        background: $color_white;
      }
      input,
      .ant-select-selector {
        height: 40px;
        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          line-height: 40px;
        }
      }
      input:disabled {
        background: $color_white;
        color: $color_assetsTable_content;
        cursor: not-allowed;
      }
      .personal-sendCode {
        display: flex;
        .ant-form-item {
          margin: 0 10px;
        }
      }
      .personal-display {
        .personal-upload {
          display: flex;
          align-items: flex-end;
        }
        .ant-form-item {
          margin: 0;
        }
        .upload-image {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 100%;
        }
        img {
          width: 118px;
        }
        .ant-upload-select-picture-card {
          width: 118px;
          margin: 0 10px;
          height: 84px;
          border: none;
          span.ant-upload {
            position: relative;
            .icon-upload {
              position: absolute;
              top: 0;
              right: 7px;
            }
          }
        }
        .ant-upload-select-picture-card:hover {
          border-color: $disb-background;
          opacity: .7;
        }
        .uploader-passport {
          font-size: $font_small;
          color: $color_upload_passport;
          margin-left: 26px;
        }
        .upload-loading {
          width: 30px;
          height: 30px;
          border: 3px solid $disb-background;
          border-left-color: $color_white;
          margin: 100px auto;
          border-radius: 100px;
          animation: loading 1s infinite linear;
        }
        @keyframes loading {
          from {
              transform: rotate(0deg);
          }
          to {
              transform: rotate(360deg);
          }
        }
      }
      button {
        background: $color_normal;
        border: none;
        width: 100%;
        color: $color_black;
        height: 45px;
        margin: 15px 0 0;
      }
      button:disabled {
        background: $disb-background;
      }
      .btn-primary {
        background: $color_normal !important;
      }
      .personal-failure { // 认证失败
        text-align: center;
        height: 100%;
        .failurelist-again {
          margin: 10px 0 50px;
        }
      }
      .personal-suceed { // 认证成功
        .personal-success {
          font-size: $font_big;
        }
        .personal-text {
          img {
            width: 70px;
          }
        }
        .personal-policy {
          text-align: center;
          padding: 20px 0 30px;
          img {
            width: 136px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .higherIn {
    padding: 0 20px;
    .personal-text {
      h3 {
        margin: 0;
      }
      .personal-introduce {
        color: $color_community_personal;
      }
    }
    .personal-success {
      font-size: $font_big;
    }
    .personal-text {
      img {
        width: 70px;
      }
    }
    .personal-policy {
      font-size: $fontSize_small;
      text-align: center;
      padding: 20px 0 30px;
      .label {
        span {
          color: $color_normal;
        }
      }
      .button {
        width: 90%;
        margin: 0 auto;
        line-height: 38px;
        border-radius: 19px;
        font-size: $fontSize_small;
        color: $color_assetsTit_bg;
        text-align: center;
        background-color: $color_normal;
        margin-top: 20px;
      }
    }
  }
}