@import '../../styles/common.scss';

.ft-button {
    font-size: 16px;
    height: 36px;
    // background: #FFFFFF;
    color: $all_blue;
    border: 2px solid $all_blue;
    border-radius: 100px;
    padding: 0 24px;
    position: relative;
}

.ft-color-primary {
    // background: $all_blue;
    background: $color_normal_line;
    color: #FFFFFF;
    border-color: $color_normal_line;
    // color: #121519;
}
.ft-color-primary:hover {
    // background: #306AD9;
    background: #f3c727;
}

.ft-size-small {
    height: 28px;
}

.ft-size-medium {
    height: 40px;
}

.ft-button:disabled {
    background: $color_tab;
    border: none;
    color: $color_white;
    cursor: not-allowed;
}
