@import '@/styles/common.scss';

.traderInfo {
  position: relative;
  padding-bottom: 49px;
  .traderInfoTop {
    background: $color_white;
    display: flex;
    padding: 15px;
    .right {
      margin-left: 15px;
      h4 {
        display: inline-block;
        color: $color_title;
        font-size: $fontSize_xLarge;
        margin-right: 5px;
        margin-bottom: 0;
      }
      div {
        display: inline-block;
        img {
          width: 16px;
          height: 16px;
        }
        span {
          font-size: $fontSize_small;
          color: #D14B4F;
        }
      }
      p {
        font-size: $fontSize_small;
        color: $color_assetsTable_tit;
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
  .traderInfoTop-introduction {
    background: $color_white;
    padding: 15px;
    padding-top: 0;
    font-size: $fontSize_small;
    color: $color_assetsTable_tit;
  }
  .lastone {
    background: $color_white;
    padding-top: 15px;
    h5 {
      font-size: $fontSize_middle;
      color: $color_title;
      padding: 0 15px;
      margin-bottom: 0;
    }
  }
  .traderInfoBottom-info {
    margin-bottom: 15px;
  }
  .traderInfoTop-info, .traderInfoBottom-info {
    background: $color_white;
    padding: 15px;
    .top {
      display: flex;
      justify-content: space-between;
      line-height: 24px;
      margin-bottom: 15px;
      h4 {
        color: $color_title;
        font-size: $fontSize_large;
        margin-bottom: 0;
      }
      p {
        color: $color_title;
        font-size: $fontSize_small;
        margin-bottom: 0;
        span {
          color: $color_red;
        }
      }
    }
    .coin {
      display: flex;
      justify-content: space-between;
      line-height: 24px;
      margin-bottom: 15px;
      div {
        span {
          color: $color_title;
          font-size: $fontSize_small;
          font-weight: bold;
          margin-left: 5px;
        }
        p {
          display: inline-block;
          font-size: $fontSize_small;
          color: $color_white;
          padding: 0 4px;
          border-radius: 2px;
          margin-left: 5px;
          margin-bottom: 0;
          height: 18px;
          line-height: 18px;
        }
        .red {
          background: $color_red;
        }
        .green {
          background: $color_green;
        }
      }
      .time {
        margin-bottom: 0;
        font-size: $fontSize_small;
        color: $color_assetsTable_tit;
      }
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      .content-item {
        text-align: left;
        flex: 1;
        min-width: 33%;
        max-width: 33%;
        p {
          margin-bottom: 10px;
        }
        .label {
          font-size: $fontSize_small;
          color: $color_assetsTable_tit;
        }
        .value {
          font-size: $fontSize_middle;
          color: $color_community_content;
          font-weight: bold;
        }
        .red {
          color: $color_red;
        }
        .green {
          color: $color_green;
        }
      }
      .content-item:nth-child(3n) {
        text-align: right;
      }
    }
  }

  .traderInfo-switch {
    padding: 0 15px;
    display: flex;
    line-height: 40px;
    margin-bottom: 0;
    li {
      margin-right: 10px;
      position: relative;
      font-size: $fontSize_large;
    }
    .active {
      color: $color_normal;
      font-weight: bold;
    }
    .active:after {
      content: '';
      position: absolute;
      width: 80%;
      height: 1px;
      z-index: 1;
      background: $color_normal_line;
      bottom: 0;
      left: 50%;
      margin-left: -40%;
    }
  }

  .followList-list {
    .list-item {
      padding: 15px;
      margin-bottom: 10px;
      background: $color_white_bg;
      position: relative;
      .top {
        display: flex;
        justify-content: space-between;
        line-height: 27px;
        margin-bottom: 20px;
        .top-left {
          p {
            font-size: $fontSize_middle;
            font-weight: 500;
            color: $color_title;
            margin-bottom: 0;
            display: inline-block;
            margin-left: 8px;
          }
        }
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        .content-item {
          text-align: left;
          flex: 1;
          min-width: 50%;
          max-width: 50%;
          p {
            margin-bottom: 10px;
          }
          .label {
            font-size: $fontSize_small;
            color: $color_assetsTable_tit;
          }
          .value {
            font-size: $fontSize_middle;
            color: $color_community_content;
            font-weight: bold;
          }
          .red {
            color: $color_red;
          }
          .green {
            color: $color_green;
          }
        }
        .content-item:nth-child(2n) {
          text-align: right;
        }
      }
    }
  }
  .ant-pagination {
    text-align: center;
    padding: 10px 0;
    .ant-pagination-item-active a, .ant-pagination-item-active:hover a {
      color: $color_normal !important;
    }
    .ant-pagination-item-active, .ant-pagination-item-active:hover {
      border-color: $color_normal !important;
    }
  }
  .earnRate {
    padding: 15px;
    padding-left: 0;
    background: $color_white;
    .top {
      padding-left: 15px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      h5 {
        font-size: $fontSize_middle;
        color: $color_title;
        margin-bottom: 0;
      }
      div {
        p {
          display: inline-block;
          margin-bottom: 0;
          font-size: $fontSize_small;
          color: $color_title;
          font-weight: bold;
          margin-left: 10px;
        }
        .red {
          color: $color_red;
        }
        .green {
          color: $color_green;
        }
      }
    }
    ul {
      display: flex;
      margin-bottom: 0;
      padding-left: 15px;
      margin-top: 10px;
      li {
        flex: 1;
        color: $color_assetsTable_tit;
        border: 1px solid $color_assetsTable_tit;
        border-radius: 4px;
        line-height: 24px;
        margin-right: 9px;
        text-align: center;
      }
      li:last-child {
        margin-right: 0;
      }
      .active {
        background: $color_normal;
        border-color: $color_normal;
        color: $color_title;
      }
    }
  }
  .traderInfo-btn {
    width: 100%;
    position: fixed;
    padding: 6px 15px;
    background: $color_white;
    bottom: 0;
    z-index: 1;
    div {
      font-size: $fontSize_middle;
      color: $color_title;
      background: $color_normal;
      border-radius: 4px;
      line-height: 36px;
      text-align: center;
      font-weight: bold;
    }
  }
}