
@import '@/styles/common.scss';
.followNewsDetail {
  width: 100%;

  &-container {
    padding: 15px;
    min-height: calc(100vh - 64px);


    .followNewsDetail-title {
      display: flex;
      align-items: center;

      .icon-fanhuijiantou {
        font-size: 20px;
        font-weight: bold;
      }

      h2 {
        flex: 1;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: #333;
        margin-bottom: 0;
      }
    }

    .followNewsDetail-content {
      margin-top: 15px;
      .content-title {
        margin-bottom: 0;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
      }
      .content-time {
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #7B818A;
        margin: 10px 0 20px 0;
      }

      .content-detaile {
        margin-bottom: 0;
        font-size: 13px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
      }
    }
  }
}