@import '@/styles/common.scss';
.myFollow {
  .myFollow-top {
    padding: 20px 15px;
    margin: 15px;
    margin-bottom: 0;
    border-radius: 4px;
    background: linear-gradient(90deg, #F1BA0C, #F7D134);
    p {
      margin-bottom: 0;
      font-weight: bold;
    }
    .label {
      font-size: $fontSize_small;
      color: $color_title;
    }
    .value {
      font-size: $fontSize_large;
      color: $color_title;
      font-weight: bold;
    }
    .top {
      margin-bottom: 20px;
      span {
        font-size: $fontSize_xxxxLarge;
        font-weight: bold;
      }
    }
    .bottom {
      display: flex;
      div {
        flex: 1;
      }
    }
  }
  .myFollow-switch {
    padding: 0 15px;
    display: flex;
    line-height: 24px;
    margin-bottom: 0;
    margin: 8px 0;
    li {
      margin-right: 10px;
      position: relative;
      padding: 0 10px;
      font-size: $fontSize_small;
      background: $color_white;
      border: 1px solid transparent;
      border-radius: 2px;
    }
    .active {
      color: $color_normal;
      font-weight: bold;
      border: 1px solid $color_normal_line;
    }
  }
  .communitor-list {
    .list-item {
      padding: 15px;
      margin-bottom: 10px;
      background: $color_white_bg;
      position: relative;
      .top {
        display: flex;
        justify-content: space-between;
        line-height: 27px;
        margin-bottom: 20px;
        .top-left {
          // img {
          //   width: 27px;
          //   height: 27px;
          //   border-radius: $borderRadius_xxLarge;
          //   margin-right: 8px;
          // }
          display: flex;
          align-items: center;
          p {
            font-size: $fontSize_middle;
            font-weight: 500;
            color: $color_title;
            margin-bottom: 0;
            display: inline-block;
            margin-left: 8px;
          }
          .top-center {
            font-size: 12px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #7B818A;
            display: flex;
            align-items: center;
  
            .icon-huazhuan {
              font-size: 12px;
              padding-right: 5px;
            }
          }
        }
        
        .top-right {
          margin-right: 15px;
          margin-bottom: 0;
          font-size: $fontSize_small;
          color: $color_assetsTable_tit;
        }
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        .content-item {
          text-align: left;
          flex: 1;
          min-width: 33%;
          max-width: 33%;
          padding: 0 15px;
          p {
            margin-bottom: 10px;
          }
          .label {
            font-size: $fontSize_small;
            color: $color_assetsTable_tit;
          }
          .value {
            font-size: $fontSize_middle;
            color: $color_community_content;
            font-weight: bold;
            span {
              font-weight: normal;
              font-size: $font_small;
              color: $color_normal;
              margin-left: 5px;
            }
          }
          .red {
            color: $color_red;
          }
          .green {
            color: $color_green;
          }
        }
        .content-item:nth-child(3n) {
          text-align: right;
        }
      }
      .bottom {
        margin-top: 7px;
        color: $color_normal;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        p:first-child {
          color: #7B818A;
          background: #F7F7FA;
          border-radius: 4px;
          padding: 0 10px;
          line-height: 23px;
          font-size: $fontSize_small;
          font-weight: normal;
        }
        p {
          margin-bottom: 0;
          display: inline-block;
          font-size: $fontSize_middle;
          font-weight: bold;
        }
        i {
          font-size: $fontSize_small;
        }
      }
      .followed {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
      }
    }
  }
  .ant-pagination {
    text-align: center;
    padding: 10px 0;
    .ant-pagination-item-active a, .ant-pagination-item-active:hover a {
      color: $color_normal !important;
    }
    .ant-pagination-item-active, .ant-pagination-item-active:hover {
      border-color: $color_normal !important;
    }
  }
}
.outWin {
  div {
    display: flex;
    justify-content: space-between;
    color: $color_title;
  }
  .tips {
    margin-top: 30px;
    color: $color_tab !important;
    text-align: center;
  }
}