.loadingBall{
    width: 30px;
    height: 100%;
    // padding: 17px 0;
    position: absolute;
    top: 23%;
    margin-left: 5px;
    display: inline-block;
    // display: flex;
    // justify-content: space-around;
    span{
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 2px;
        background-color: #fff;
        opacity: .5;
        transform-origin: bottom center;
    }
    .one{
        animation: wave .8s linear 0s infinite;
    }
    .two{
        animation: wave .8s linear .12s infinite;
    }
    .three{
        animation: wave .8s linear .24s infinite;
    }
}
@keyframes wave{
    10%{transform: translateY(0) scale(1.2, .8);}
    25%{transform: scale(.8, 1.2);}
    35%{transform: translateY(-5px);}
    50%{opacity: 1;}
    65%{transform: translateY(-5px) scale(1, 1);}
    80%{transform: scale(.8, 1.2);}
    90%{transform: translateY(0) scale(1.2, .8);}
    100%{opacity: .5;transform: translateY(0) scale(1, 1);}
}